.login {
  width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
  height: 100vh;

  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}

.info-through {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
.active {
  border-bottom: 2.5px solid #00c489;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
  gap: 10px;
  border-radius: 20px;
  padding: 30px 15px;

  @media only screen and (min-width: 992px) {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
  }

  @media only screen and (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}

.account-info {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  color: #646464;
}

.login-btn {
  color: #00c489;
  font-weight: 700;
  cursor: pointer;
}

.login-btn:hover {
  color: #01a574;
}

.forgot-password {
  color: #00c489;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.forgot-password:hover {
  color: #01a574;
}

.tou-check {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.checkbox {
  height: 18px;
  width: 18px;
}

.checkbox-text {
  color: #646464;
  font-weight: 500;
}

.help {
  font-size: 16px;
  font-weight: 600;
  color: #646464;
  border-bottom: 1.2px solid #646464;
  width: max-content;
  line-height: 0.9;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.help:hover {
  color: #424242;
}
