.signup {
  width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
  height: 100vh;

  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 30px 15px;

  @media only screen and (min-width: 992px) {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
  }

  @media only screen and (max-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
  }
}

.account-info {
  margin-top: 12px;
  color: #646464;
}

.login-btn {
  color: #00c489;
  font-weight: 700;
  cursor: pointer;
}

.login-btn:hover {
  color: #01a574;
}
