.container-verification {
  width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
  height: 100vh;
}

.verification {
  padding: 10px 20px;
  position: relative;

  @media only screen and (min-width: 992px) {
    width: 45%;
    margin: 0 auto;
    margin-top: 50px;
  }

  @media only screen and (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
    margin-top: 30px;
  }
}

.heading {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.verification-btn {
  margin-top: 60px;
}

.send-again {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  right: 5%;
}
